<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.nlifew.clipmgr">

    <application
        android:name=".app.ThisApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name=".service.ClipMgrService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_module_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />

        <activity android:name=".ui.EmptyActivity">
        </activity>
        <activity
            android:excludeFromRecents="true"
            android:name=".ui.request.RequestActivity"
            android:theme="@style/Transparent" />
    </application>

</manifest>